In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Admission_Predict.csv')

In [5]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
df.shape

(400, 9)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [10]:
df.duplicated().sum()

0

In [13]:
df.drop(columns=['Serial No.'],inplace=True)

In [16]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [17]:
X=df.iloc[:,0:-1]
Y=df.iloc[:,-1]

In [18]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [19]:
Y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [22]:
X_train.shape

(320, 7)

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [29]:
X_train_scaled[0]

array([0.22      , 0.17857143, 0.25      , 0.5       , 0.42857143,
       0.25      , 1.        ])

In [30]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [41]:
model=Sequential()
model.add(Dense(7,activation='relu',input_dim=7))
model.add(Dense(7,activation='relu',input_dim=7))

model.add(Dense(1,activation='linear'))

In [42]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 7)                 56

 dense_3 (Dense)             (None, 7)                 56

 dense_4 (Dense)             (None, 1)                 8

=================================================================
Total params: 120 (480.00 Byte)
Trainable params: 120 (480.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
model.compile(loss='mean_squared_error',optimizer='Adam')

In [44]:
history= model.fit(X_train_scaled,Y_train,epochs=10,validation_split=0.2)

Epoch 1/10
8/8 [==============================] - 1s 19ms/step - loss: 0.5107 - val_loss: 0.4663
Epoch 2/10
8/8 [==============================] - 0s 6ms/step - loss: 0.3891 - val_loss: 0.3501
Epoch 3/10
8/8 [==============================] - 0s 7ms/step - loss: 0.2883 - val_loss: 0.2523
Epoch 4/10
8/8 [==============================] - 0s 7ms/step - loss: 0.2057 - val_loss: 0.1716
Epoch 5/10
8/8 [==============================] - 0s 6ms/step - loss: 0.1377 - val_loss: 0.1103
Epoch 6/10
8/8 [==============================] - 0s 6ms/step - loss: 0.0875 - val_loss: 0.0676
Epoch 7/10
8/8 [==============================] - 0s 6ms/step - loss: 0.0534 - val_loss: 0.0423
Epoch 8/10
8/8 [==============================] - 0s 6ms/step - loss: 0.0340 - val_loss: 0.0303
Epoch 9/10
8/8 [==============================] - 0s 6ms/step - loss: 0.0251 - val_loss: 0.0265
Epoch 10/10
8/8 [==============================] - 0s 6ms/step - loss: 0.0218 - val_loss: 0.0261

In [45]:
Y_pred=model.predict(X_test_scaled)

3/3 [==============================] - 0s 3ms/step

In [46]:
from sklearn.metrics import r2_score
r2_score(Y_test,Y_pred)

0.10164709617493628